html, body, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

body {
  background: #233142;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  color: #333333;
  line-height: 1;
}

@font-face{
  font-family:'Antipasto';
  src: url("../assets/fonts/antipasto/AntipastoPro-Light_trial.ttf")format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Antipasto';
  src: url("../assets/fonts/antipasto/AntipastoPro-Medium_trial.ttf")format("truetype");
  font-weight: 600;
}

@font-face{
  font-family:'Antipasto';
  src: url("../assets/fonts/antipasto/AntipastoPro-Bold_trial.ttf")format("truetype");
  font-weight:700;
}
