header {
  height: 40px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

header svg {
  display: block;
  width: 50%; height: 50%;
}

@font-face{
  font-family:'Antipasto';
  src: url("../assets/fonts/antipasto/AntipastoPro-Light_trial.ttf")format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Antipasto';
  src: url("../assets/fonts/antipasto/AntipastoPro-Medium_trial.ttf")format("truetype");
  font-weight: 600;
}

@font-face{
  font-family:'Antipasto';
  src: url("../assets/fonts/antipasto/AntipastoPro-Bold_trial.ttf")format("truetype");
  font-weight:700;
}
